.nav-wrapper{
    display: block;
    justify-content: space-between;
    padding: 38px;
}

.left-sidebar{
    padding-right: 40px;
    display: block;

}

.nav-wrapper > .left-sidebar > div{
    margin-left: 20 px;
    font-size:0.9em;
    text-transform: uppercase;

}