---
layout: default
---


<div>
  Hi, I'm Evelyn and this is the personal website I use as a notepad.  <a href="/code"> I like to code </a> and I'm always doing something related to that. I post some of the things I have learned in the process to cement some ideas in my head. <br>
  If you want to reach me, feel free to <a href="/contact.html"> contact me here. </a>
</div>

<hr />

<div>
  <h1>All Posts</h1>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="entry">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.excerpt | markdownify | strip_html | truncate: 150 }}

      {% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more&nbsp;&#183;{% include read-time.html content=post.content %}</a>
  </article>
  {% endfor %}

  {% include pagination.html %}
</div>


